<% include ./partials/header  %>
<% include ./partials/sidebar  %>
<div class="page-content">
<div class="container-fluid">
<% if(typeof query !== 'undefined' && query == "items") { %>
<header class="section-header">
<div class="tbl">
<div class="tbl-row">
	<div class="tbl-cell">
		<h3>Showing Order items</h3>
		<ol class="breadcrumb breadcrumb-simple">
			<li><a href="/">Dashboard</a></li>
			<li><a href="/order">Orders</a></li>
			<li class="active">item</li>
		</ol>
	</div>
</div>
</div>
</header>
<section class="card">
<header class="card-header card-header-lg">
Showing items on This  order (<span class="label label-custom label-pill label-info"><%= Order.get("items").length %></span>)
</header>
<div class="card-block">
<p class="card-text">
<div class="row">
<table id="table-edit" class="table table-bordered table-hover">
<thead>
<tr>
<th width="1">No#</th>
<th>Name</th>
<th>Price</th>
<th>Quantity</th>
<th>More</th>
</tr>
</thead>
<tbody>
<% 
var i=1;
Order.get("items").forEach((item)=>{
%>
		<tr>
		<td><%= i++  %></td>
		<td><%= item.product.name  %></td>
		<td><%= item.product.price  %></td>
		<td><%= item.quantity  %></td>
		<td><a href="/spare/item/<%= item.product.pId %>?action=single">view more info</a></td>
		</tr>
<%
}) %>
</tbody>
</table>
</div>
</p>
</div>
</section>
</div><!--.container-fluid-->
</div><!--.page-content-->
<% } else { %>
<section class="card">
<header class="card-header card-header-lg">
All Orders(<span class="label label-custom label-pill label-info"><%= Orders.length %></span>)
</header>
<div class="card-block">
<p class="card-text">
<div class="row">
<input type="hidden" name="total_result" ref="total_result"   value="<%= total_result %>" />
<input type="hidden" name="page"         ref="page"           value="<%= page %>" />
<input type="hidden" name="plimit"    ref="plimit"      value="<%= plimit %>" />
<table id="table-edit" class="table table-bordered table-hover">
<thead>
<tr>
<th width="1">No#</th>
<th>Names</th>
<th>Phone</th>
<th>Location</th>
<th>VIN</th>
<th width="120">items</th>
<th>vat</th>
<th>Quantity</th>
<th>Amount</th>
<th width="120">Date</th>
</tr>
</thead>
<tbody>
<% 
var i=(page -1)*plimit+1;
Orders.forEach((order)=>{
%>
		<tr>
		<td><%= i++  %></td>
		<td><%= order.get("names")  %></td>
		<td><%= order.get("phone")  %></td>
		<td><%= order.get("location") %></td>
		<td><%= order.get("vin") %></td>
		<td class="table-date"><a href="/order/items/<%= order.id %>?action=items">items</a></td>
		<td><%= format_currency(order.get("vat")) %></td>
		<td><%= order.get("itemcount") %></td>
		<td><%= format_currency(order.get("amount")) %></td>
		<td><%= fromNow(order.createdAt) %></td>
		</tr>
<%
}) %>
</tbody>
</table>
<!-- pagination navs -->
<div class="row pull-right" style="margin-right:2em;" v-cloak>
<nav aria-label="Page navigation example">
<ul class="pagination">
	<li class="page-item">
	<a class="page-link" :href="previousLink" aria-label="Previous">
		<span aria-hidden="true">&laquo;</span>
		<span class="sr-only">Previous</span>
	</a>
	</li>
	<li class="page-item" v-for="(link,index) in pages "><a class="page-link" :href="link">{{ ++index }}</a></li>
	<li class="page-item">
	<a class="page-link" :href="nextLink" aria-label="Next">
		<span aria-hidden="true">&raquo;</span>
		<span class="sr-only">Next</span>
	</a>
	</li>
</ul>
</nav>
</div>
<!-- end of pagination navs -->
</div>
</p>
</div>
</section>
<% } %>
</div><!--.container-fluid-->
</div><!--.page-content-->
<% include ./partials/footer  %>
